
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<title>첫번째 페이지</title>
</head>
<style>
</style>
<body>
	<div id="app">
		<div>
			아이디 : <input v-model="user.userId">  
		</div>
		<div>
			비밀번호 : <input v-model="user.pwd">  
		</div>
        <div>
			이름 : <input v-model="user.name">  
		</div>
        <div>
			주소 : <input v-model="user.addr">  
		</div>
        <div>
			번호 : <input v-model="user.phone">  
		</div>
		<button @click="fnJoin">회원가입</button>
	</div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                user : {
                    userId : "",
                    pwd : "",
                    name : "",
                    addr : "",
                    phone : ""
                }
            };
        },
        methods: {
            fnJoin(){
				var self = this;
				fetch("http://localhost:3000/user/join",{
                    method : "POST",
                    headers : {
                        "Content-type" : "application/json"   
                    },
                    body : JSON.stringify(self.user)
                })
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                });
            }
        },
        mounted() {
            var self = this;
        }
    });
    app.mount('#app');
</script>
