<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<title>첫번째 페이지</title>
</head>
<style>
    table, tr, td, th{
        border : 1px solid black;
        border-collapse: collapse;
        padding : 5px 10px;
        text-align: center;
    }
</style>
<body>
	<div id="app">
		<table>
            <tr>
                <th>선택</th>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            <tr v-for="item in list">
                <td><input type="radio" name="boardNo" :value="item.BOARDNO" v-model="selectItem"></td>
                <td>{{item.BOARDNO}}</td>
                <td>
                    <a href="javascript:;" @click="fnGetInfo(item.BOARDNO)">{{item.TITLE}}</a></td>
                <td>{{item.USERID}}</td>
            </tr>
        </table>
        <button @click="fnRemove">삭제</button>
        <hr>
        <div v-if="info != null">
            <div>내용 : {{info.CONTENTS}}</div>
        </div>
	</div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                list : [],
                info : null,
                selectItem : ""
            };
        },
        methods: {
            fnGetList(){
                let self = this;
				fetch("http://localhost:3000/board/list")
                    .then( res => res.json() )
                    .then( data => {
                        self.list = data.list;
                        console.log(self.list);
                    } )
            },
            fnGetInfo(BOARDNO){
                let self = this;
                fetch("http://localhost:3000/board/view?BOARDNO="+BOARDNO)
                    .then( res => res.json() )
                    .then( data => {
                        self.info = data.info;
                        console.log(data.info);
                    } )
            },
            fnRemove(){
                let self = this;
                if(!confirm("정말 삭제?")){
                    return;
                }
                fetch("http://localhost:3000/board/remove?BOARDNO="+self.selectItem)
                    .then( res => res.json() )
                    .then( data => {
                        alert(data.message);
                        self.fnGetList();
                    } )
            }
        },
        mounted() {
            var self = this;
            self.fnGetList();
        }
    });
    app.mount('#app');
</script>